@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

/* Custom scrollbar styles */
.scrollbar-visible::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: var(--muted);
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 6px;
  opacity: 0.35;
}

.scrollbar-visible::-webkit-scrollbar-thumb:hover {
  opacity: 0.55;
}
